{{header}}
<main>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="settingsLabel">Settings</h4> </div>
      <div class="modal-body"></div>
      <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
    </div>
  </div>

</div>

<div class="modal fade" id="template" tabindex="-1" role="dialog">
  <div class="modal-dialog modal=lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Template</h4> </div>
      <div class="modal-body"></div>
      <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
    </div>
  </div>
</div>


    <main  class="container-fluid">
      <div class="row">
	<div id="info" class="col-md-4">
	  <div id="controls">
	    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#settings"
		    title="Configure the plots"> Settings </button>
	    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#template"
		    title="See your template file"> Template </button>
	  </div>
	</div>
	<div id="plate" class="col-md-4">
	  <h4>  <span data-placement="right" data-toggle="tooltip" title="Click on a well to filter the dataset. Click on a row/column name to select multiple wells at once"> Microplate overview</span> </h4>
	  <svg><svg>
	</div>
	<div id="groups" class="col-md-4">
	  <h4>  <span  data-placement="right" data-toggle="tooltip" title="Click on a line to select droplets according to your template file. You can change the color of the group, see the settings pannel to apply those color to the timeseries"> Preset selections </span> </h4>
	</div>
      </div>
      <div class="row" >
	<div class="col-md-12" id="dynamics">
	  <h3>  <span data-placement="right"
	       data-toggle="tooltip"
	       title="Use the 'Settings' pannel to change the channels and scales, Use the droplet selector to filter the data."> Timeseries </span> </h3>
	  <canvas></canvas>
	  </div>
      </div>
      <div class="row" id="selector">
	<div class="col-md-12">
	  <h3><span  data-placement="right"
	       data-toggle="tooltip"
	       title="Click and drag on an quantitative axis to filter with a range. Drag the axis labels to reorder them. Use the 'Settings' panel to customize the axes."> Droplet Selector </span></h3>
	  <div id="selector_wrapper">
	    <canvas id="foreground"></canvas>
	    <canvas id="background"></canvas>
	    <svg id="selector_axis"></svg>
	  </div>
	</div>
      </div>
    </main>

{{footer}}
